# fly.toml app configuration file generated for myloware-remotion on 2025-12-21T22:27:52-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'myloware-remotion'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    timeout = "5s"
    method = "GET"
    path = "/health"

[[vm]]
  memory = '4gb'
  cpu_kind = 'performance'
  cpus = 2
